<div class="jumbotron jumbotron-fluid" style="background:url(https://omny.fm/shows/gossip/12-basement-bethany/image.jpg?t=1555508442&size=WideShare)">
  <div class="container">
    <h1 class="display-4">Cree ton Gossip !!</h1>
  </div>
</div>
<% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div style="width:500px; margin: auto">
    <%=form_tag url_for(action: 'create'), method: "post" do %>
            <div class='form-group'>
                <label for="Titre du Gossip">Titre du Gossip</label>
                <input type="title" name="title" id="title" class="form-control">
            </div>
            <div class='form-group'>
                <label for="content">Le gossip</label>
                <input type="text-area" name='content' id='content'class="form-control">
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn-outline-dark'> Confirmer </button>
            </div>
        <%end%>
    </form>
</div>

